<form action="/user/sign-up" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name = 'email' placeholder="email">
    <input type="password" name='password' placeholder="password">
    <input type="password" placeholder="Confirm Password">
    <input type="submit" value='Submit'>
</form>